/* main.css */

/* google fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

/* body */
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	overflow: hidden;
	color: #DDD;
	background-color: #2C2F2C;

	/* 文字アンチエイリアス設定 */
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: unset;
}

/* header */
div#header {
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	padding: 4px;
	width: 100vw;
	height: 10vh;
	box-sizing: border-box;
	overflow: hidden;
}

/* editor */
div#editor {
	position: relative;
	height: 75vh;
	box-sizing: border-box;
}

/* footer */
div#footer {
	position: relative;
	margin: 0;
	padding: 0;
	height: 15vh;
}

/* 音符 [a-gA-G][%]?[0-9]* */
span.note {
	/* color: #FFA000; */
	color: #FEDFC0;
}

/* 休符 [rR] */
span.rest {
	color: #1E90FF;
}

/* タイ,スラー [&] */
span.tie {
	color: #9ACD32;
}

/* タイ,スラーの後ろの音符 */
span.aftTie {
	color: #F2893E;
}

/* デフォルト音長 [lL] */
span.defLength {
	color: #2E8B57;
}

/* ゲートタイム [qQ] */
span.defQuant {
	color: #2E8B57;
}

/* 絶対ゲートタイム [@[qQ]] */
span.abQuant {
	color: #2E8B57;
}

/* 音源(音色) [@[0-9\-]+] */
span.tone {
	color: #32CD32;
}

/* FM音源用LFO [@[mM][hH][0-9,]+] */
span.fmLFO {
	color: #00CED1;
}

/* パルス幅(デューティ比) */
span.pDuty {
	color: #32CD32;
}

/* ホワイトノイズ周波数 */
span.noiseFreq {
	color: #FFFACD;
}

/* フィルタ */
span.filter {
	color: #7FFFD4;
}

/* VCAエンベロープ */
span.vcaEnv {
	color: #9932CC;
}

/* VCFエンベロープ */
span.vcfEnv {
	color: #7FFFD4;
}

/* フォルマントフィルタ */
span.formant {
	color: #7CFC00;
}

/* アットマーク系のデフォルト */
span.atmark {
	color: #7CFC00;
}

/* 音量 [vV] */
span.vel {
	color: #9932CC;
}

/* 詳細音量 [@[vV]] */
span.fVel {
	color: #9932CC;
}

/* エクスプレッション [@[xX]] */
span.expr {
	color: #9932CC;
}

/* 音量モード [vV] */
span.velMode {
	color: #9932CC;
}

/* 音量シフト [(] */
span.velUp {
	color: #9370DB;
}

/* 音量シフト [)] */
span.velDown {
	color: #9370DB;
}

/* パン [@[pP]] */
span.panpod {
	color: #A52A2A;
}

/* オクターブ指定 [oO] */
span.oct {
	color: #F5DEB3;
}

/* オクターブシフト [<] */
span.octShftUp {
	color: #F5DEB3;
}

/* オクターブシフト [>] */
span.octShftDown {
	color: #F5DEB3;
}

/* ポルタメント [*], [@U0], [@U1], [@U2], [@U3]*/
span.porta,
span.midiPortaOff, span.midiPortaOn, span.midiPortaVel, span.midiPortaStart {
	color: #48D1CC;
}

/* LFO [@L[\-0-9]+,[\-0-9]+[,[\-0-9]*]] */
span.LFO {
	color: #00CED1;
}

/* テンポ [tT] */
span.tempo {
	color: #7D70F0;
}

/* デチューン [@D[\+\-][0-9]+] */
span.detune {
	/* color: #F5DEB3; */
	color: #DAA520;
}

/* 絶対ノートシフト [NS[\+\-][0-9]+] */
span.noteShift {
	color: #F5DEB3;
}

/* 相対ノートシフト [@NS[\+\-][0-9]+] */
span.noteShiftR {
	color: #F5DEB3;
}

/* コメント */
span.comment {
	color: #228B22;
}

/* ループ [/:[0-9]* ~ :/] */
span.loop {
	color: #FFD700;
}

/* ループ回数 [[0-9]*] */
span.loopNum {
	color: #B8860B;
}

/* 連符 [\{\}] */
span.nplet {
	color: #20B2AA;
}

/* 和音 [\[\]] */
span.poly {
	color: #00FA9A;
}

/* 和音数 [@pl] */
span.polyNum {
	color: #00FA9A;
}

/* メタデータ [# ~ \n] */
span.metaData {
	color: #008400;
}

/* マクロ宣言 [$...[{...}]?= ~ ;] */
span.macroDecl {
	color: #FF7F50;
}

/* マクロ [$...[{...}]?] */
span.macroUse {
	color: #FFC010;
}

/* トラック終了 [;] */
span.endTrack {
	color: #FF1493;
}

/* テキストエリア, ハイライト共通 */
textarea#mmltxt,
textarea#mmlwarn,
span#mmlhighlight {
	-webkit-appearance: none;
	color: #DDD; /* 通常文字色 */
	font-size: 14px; /* 文字サイズ */
	/* font-family: "Yu Gothic" , "Hiragino Kaku Gothic ProN", Roboto, "Droid Sans", Meiryo, Arial, sans-serif; */ /* 字体指定 */
	font-family: "Roboto Mono", "Yu Gothic" , "Hiragino Kaku Gothic ProN", "MS Gothic", Osaka-mono, monospace; /* 字体指定(等幅) */
	line-height: 17px;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow: hidden;
	padding: 8px;
	margin: 0;
	top: 0;
	left: 0;
	border: 0 none #000;
	box-sizing: border-box;
}

div#mmlhighlightwrap {
	pointer-events: none;
	position: absolute;
	margin: 0;
	padding: 8px;
	top: 0;
	left: 0;
	/* display: inline-block; */
	overflow: hidden;
	font-size: 16px;
	color: #EEE;
	box-sizing: border-box;
}

/* テキストエリア */
textarea#mmltxt {
	-webkit-appearance: none;
	resize: none;
	background-color: #222218; /* 背景色 */
	/* border: 1px solid #888; */
	caret-color: #AABDAA;
	bottom: 0;
}

/* Warningエリア */
textarea#mmlwarn {
	resize: none;
	background-color: #222218;
	border: 0 none #888;
	overflow: auto;
	width: 100%;
	height: 100%;
}

/* ハイライト */
span#mmlhighlight {
	border: 1px none #000;
}

/* span 改行設定 */
span {
	white-space: pre-wrap;
	word-wrap: break-word;
}

/* スクロールバー */
div#scrollBar {
	background-color: #777;
	margin: 8px;
	/* padding: 12px; */
	width: 8px;
	right: 8px;
	border-radius: 4px;
	opacity: 0.5;
}

/* スクロールバー hover */
div#scrollBar:hover {
	opacity: 0.8;
}

/* コントロール */
div#ctrls-header{
	position: relative;
	top:0;
	left:0;
	width: 100%;
}

div#ctrls-header img {
	padding: 4px;
	vertical-align: middle;
}

div#ctrls {
	position: relative;
	height: 100%;
}

div#ctrls > #ctrl-right {
	float: left;
}

div#ctrls > #ctrl-left {
	float: left;
	padding: 4px;
	height: 100%;
	box-sizing: border-box;
}

#ctrl-left img {
	vertical-align: middle;
}

div#ctrls > #ctrl-warn {
	float: left;
	height: 100%;
}

div#ctrls::after {
	clear: both;
}

/* テキストインプット */
input#mmlurl, input#mmlsavefilename {
	border: 1px solid #888;
	background-color: #555;
	color: #DDD;
	width: 8%;
}

/* タイトル */
div#title-header {
	position: relative;
	float: left;
	width: 18%;
	height: 100%;
}

div#title-header > img {
	max-width: 100%;
	max-height: 100%;
}

div#title-header::after {
	clear: both;
}

span#title-font {
	font-size: 14pt;
}

/* 画面幅479px以下 */
@media screen and ( max-width: 479px ) {
	/* タイトルを表示しない */
	div#title-header {
		width: 0;
		visibility: hidden;
	}
}